# Star Trek Script â€¢ Further Cleaning

## Importing libaries

In [1]:
#import libraries
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from operator import itemgetter
from collections import defaultdict
import os

In [2]:
# Assign path variable
path = '/Users/mariamaske/Star Trek Analysis/Data/Cleaned Data'

In [3]:
# Import tos data
tos_df = pd.read_csv(os.path.join(path, 'tos_df.csv'))

In [4]:
# Import tas data
tas_df = pd.read_csv(os.path.join(path, 'tas_df.csv'))

In [5]:
# Import tng data
tng_df = pd.read_csv(os.path.join(path, 'tng_df.csv'))

In [6]:
# Import tng data
tng_df = pd.read_csv(os.path.join(path, 'tng_df.csv'))

In [7]:
# Import ds9 data
ds9_df = pd.read_csv(os.path.join(path, 'ds9_df.csv'))

In [8]:
# Import voy data
voy_df = pd.read_csv(os.path.join(path, 'voy_df.csv'))

In [9]:
# Import ent data
ent_df = pd.read_csv(os.path.join(path, 'ent_df.csv'))

In [10]:
# Import dis data
dis_df = pd.read_csv(os.path.join(path, 'dis_df.csv'))

In [11]:
# Import dis data
pic_df = pd.read_csv(os.path.join(path, 'pic_df.csv'))

## Further Cleaning

### TOS

In [12]:
tos_df.head()

,Unnamed: 0,Episode,Character,Lines,Linecount,Season,Year,Title,Gender,Spezies,Frequency of appearance,Role,Admirality
0,0,tos_000,SPOCK,"['Check the circuit.', ""It can't be the screen...",27,tos_s1,1966,The Cage,m,Vulcan/Human,Maincast,Crew,No
1,1,tos_001,SPOCK,"['Miss Uhura, your last sub-space log containe...",46,tos_s1,1966,The Man Trap,m,Vulcan/Human,Maincast,Crew,No
2,2,tos_002,SPOCK,['That is a very intriguing question. Scanners...,33,tos_s1,1966,Charlie X,m,Vulcan/Human,Maincast,Crew,No
3,3,tos_003,SPOCK,"['Your move, Captain.', ""I'll have you checkma...",40,tos_s1,1966,Where No Man Has Gone Before,m,Vulcan/Human,Maincast,Crew,No
4,4,tos_004,SPOCK,"['Check out the life-support systems.', 'Someo...",80,tos_s1,1966,The Naked Time,m,Vulcan/Human,Maincast,Crew,No

In [13]:
tos_df['Series'] = "The Original Series (TOS)"

In [14]:
# renames columns to make them more conform with the other data sets 
tos_df.rename(columns = {'Admirality' : 'Admirality?'}, inplace = True)

In [15]:
tos_df= tos_df.drop(columns = ['Unnamed: 0'])

### TAS

In [16]:
tas_df.head()

,Unnamed: 0,Episode,Character,Lines,Linecount,Season,Year,Title,Gender,Spezies,Frequency of appearance,Role,Admirality
0,0,tas_000,KIRK,"['Situation, Mister Scott?', 'Mister Sulu?', '...",68,tas_s1,1973,Beyond The Farthest Star,m,Human,Maincast,Crew,No
1,1,tas_001,KIRK,"[""What a trip, Bones. Orion, at the dawn of it...",25,tas_s1,1973,Yesteryear,m,Human,Maincast,Crew,No
2,2,tas_002,KIRK,"['Readings?', 'Put up our present position, Li...",78,tas_s1,1973,One Of Our Planets Is Missing,m,Human,Maincast,Crew,No
3,3,tas_003,KIRK,"[""Twenty seconds to what? That's what worries ...",34,tas_s1,1973,The Lorelei Signal,m,Human,Maincast,Crew,No
4,4,tas_004,KIRK,"[""Klingon battle cruiser, identify yourself. A...",73,tas_s1,1973,"More Tribbles, More Troubles",m,Human,Maincast,Crew,No

In [17]:
tas_df['Series'] = "The Animated Series (TAS)"

In [18]:
# renames columns to make them more conform with the other data sets 
tas_df.rename(columns = {'Admirality' : 'Admirality?'}, inplace = True)

In [19]:
tas_df= tas_df.drop(columns = ['Unnamed: 0'])

### TNG

In [20]:
tng_df.head()

,Unnamed: 0,Episode,Character,Lines,Linecount,Season,Year,Title,Gender,Spezies,Frequency of appearance,Role,Admirality?
0,0,tng_000,PICARD,"[""You will agree, Data, that Starfleet's\r ord...",184,tng_s1,1987,Encounter at Farpoint,m,Human,Maincast,Crew,No
1,1,tng_001,PICARD,"['Report.', 'Are you certain? Yes, of course y...",83,tng_s1,1987,The Naked Now,m,Human,Maincast,Crew,No
2,2,tng_002,PICARD,"['On our way. You have the helm, Mister Data.'...",93,tng_s1,1987,Code of Honor,m,Human,Maincast,Crew,No
3,3,tng_003,PICARD,"['Enlarge. What is their course?', 'Identify.'...",99,tng_s1,1987,The Last Outpost,m,Human,Maincast,Crew,No
4,4,tng_004,PICARD,"[""I don't understand your concern, Number\r On...",112,tng_s1,1987,Where No One Has Gone Before,m,Human,Maincast,Crew,No

In [21]:
tng_df['Series'] = "The Next Generation (TNG)"

In [22]:
tng_df= tng_df.drop(columns = ['Unnamed: 0'])

### DS9

In [23]:
ds9_df.head()

,Unnamed: 0,Episode,Character,Lines,Linecount,Season,Year,Title,Gender,Spezies,Role,Frequency of appearance,Admirality?,_merge
0,0,ds9_000,SISKO,"['Reroute auxiliary power.', 'Full reverse.', ...",189,ds9_s1,1993,Emissary (2-part episode),m,Human,Crew,Maincast,No,both
1,1,ds9_001,SISKO,"[""We don't know for a fact Garak's a spy, Doct...",88,ds9_s1,1993,Past Prologue,m,Human,Crew,Maincast,No,both
2,2,ds9_002,SISKO,"['Ready, Dax?', 'Doctor.', 'Well, some things ...",58,ds9_s1,1993,A Man Alone,m,Human,Crew,Maincast,No,both
3,3,ds9_003,SISKO,"['Chief, I thought you were going to fix the r...",76,ds9_s1,1993,Babel,m,Human,Crew,Maincast,No,both
4,4,ds9_004,SISKO,"[""Miss Sarda, why don't tell me exactly what h...",65,ds9_s1,1993,Captive Pursuit,m,Human,Crew,Maincast,No,both

In [24]:
ds9_df['Series'] = "Deep Space Nine (DS9)"

In [25]:
ds9_df= ds9_df.drop(columns = ['Unnamed: 0'])

### VOY

In [26]:
voy_df.head()

,Unnamed: 0,Episode,Character,Lines,Linecount,Season,Year,Title,Gender,Spezies,Frequency of appearance,Role,Admirality?
0,0,voy_000,CHAKOTAY,"['Damage report.', 'Be creative!', 'Initiating...",45,voy_s1,1995,"Caretaker, Part I & II",m,Human,Maincast,Crew,No
1,1,voy_001,CHAKOTAY,"['Then what happened?', ""Don't worry, Lieutena...",64,voy_s1,1995,Parallax,m,Human,Maincast,Crew,No
2,2,voy_002,CHAKOTAY,['Density patterns on the surface show artific...,29,voy_s1,1995,Time and Again,m,Human,Maincast,Crew,No
3,3,voy_003,CHAKOTAY,['Lieutenant Torres has already asked permissi...,41,voy_s1,1995,Phage,m,Human,Maincast,Crew,No
4,4,voy_004,CHAKOTAY,"['Bridge to Janeway.', 'There was no need for ...",37,voy_s1,1995,The Cloud,m,Human,Maincast,Crew,No

In [27]:
voy_df['Series'] = "Star Trek Voyager (VOY)"

In [28]:
voy_df= voy_df.drop(columns = ['Unnamed: 0'])

### ENT

In [29]:
ent_df.head()

,Unnamed: 0,Episode,Character,Lines,Linecount,Season,Year,Title,Gender,Spezies,Frequency of appearance,Role,Admirality?
0,0,ent_000,KLAANG,"['', '', 'Pung ghap! Pung ghap!', 'DujDaj Hegh...",22,ent_s1,2001,Broken Bow,m,Klingon,Episodic,Alien,No
1,1,ent_000,TUCKER,"[""The ventral plating team says they'll be don...",98,ent_s1,2001,Broken Bow,m,Human,Maincast,Crew,No
2,2,ent_001,TUCKER,"[""We've routed some more power to Sickbay. Let...",41,ent_s1,2001,Fight or Flight,m,Human,Maincast,Crew,No
3,3,ent_002,TUCKER,"['Sounds like home.', 'You expect us to sit up...",118,ent_s1,2001,Strange New World,m,Human,Maincast,Crew,No
4,4,ent_003,TUCKER,"[""Well, tell him to hurry up. If the relays up...",133,ent_s1,2001,Unexpected,m,Human,Maincast,Crew,No

In [30]:
ent_df['Series'] = "Star Trek Enterprise (ENT)"

In [31]:
ent_df= ent_df.drop(columns = ['Unnamed: 0'])

### DIS

In [32]:
dis_df.head()

,Unnamed: 0,Episode,Character,Lines,Linecount,Season,Year,Title,Gender,Spezies,Frequency of appearance,Role,Admirality?
0,0,dis_000,T'KUVMA,['They are coming. Atom by atom they will coil...,12,dis_s1,2017,The Vulcan Hello,m,Klingon,Recrurring,Antagonist,No
1,1,dis_001,T'KUVMA,['My presence. My voyage. My time. No one spea...,26,dis_s1,2017,Battle at the Binary Stars,m,Klingon,Recrurring,Antagonist,No
2,2,dis_000,BURNHAM,"[""We come in peace. That's why we're here. Isn...",113,dis_s1,2017,The Vulcan Hello,f,Human,Maincast,Crew,No
3,3,dis_001,BURNHAM,"['Respect is earned, as is friendliness.', 'Th...",41,dis_s1,2017,Battle at the Binary Stars,f,Human,Maincast,Crew,No
4,4,dis_002,BURNHAM,"['Eight thousand, one hundred and eighty six.'...",83,dis_s1,2017,Context is for Kings,f,Human,Maincast,Crew,No

In [33]:
dis_df['Series'] = "Star Trek Discovery (DIS)"

In [34]:
dis_df= dis_df.drop(columns = ['Unnamed: 0'])

### PIC

In [35]:
pic_df.head()

,Unnamed: 0,Episode,Character,Lines,Linecount,Season,Year,Title,Gender,Spezies,Frequency of appearance,Role,Admirality?
0,0,pic_000,PICARD,"['See. And raise.', 'You have a tell.', ""Every...",129,pic_s1,2020,Remembrance,m,Human,Maincast,Crew,Admiral
1,1,pic_001,PICARD,"['They erased her.', 'Then who?', 'What is Zha...",70,pic_s1,2020,Maps and Legends,m,Human,Maincast,Crew,Admiral
2,2,pic_002,PICARD,"['Straight out, just as you predicted.', 'Mmm ...",73,pic_s1,2020,The End is the Beginning,m,Human,Maincast,Crew,Admiral
3,3,pic_003,PICARD,"[""Hello, hello. How good to see you all again....",94,pic_s1,2020,Absolute Candor,m,Human,Maincast,Crew,Admiral
4,4,pic_004,PICARD,"['Come.', ""You're well?"", 'Something to drink?...",59,pic_s1,2020,Stardust City Rag,m,Human,Maincast,Crew,Admiral

In [37]:
pic_df['Series'] = "Star Trek Picard (PIC)"

In [38]:
pic_df= pic_df.drop(columns = ['Unnamed: 0'])

### Merging Datasets

In [39]:
concat_ST_final=pd.concat([tos_df, tas_df, tng_df, ds9_df, voy_df, ent_df, dis_df, pic_df])

In [40]:
concat_ST_final.isnull().sum()

Episode                       0
Character                     0
Lines                         0
Linecount                     0
Season                        0
Year                          0
Title                         0
Gender                        0
Spezies                       0
Frequency of appearance       0
Role                          0
Admirality?                   0
Series                        0
_merge                     6272
dtype: int64

In [41]:
concat_ST_final.columns

Index(['Episode', 'Character', 'Lines', 'Linecount', 'Season', 'Year', 'Title',
       'Gender', 'Spezies', 'Frequency of appearance', 'Role', 'Admirality?',
       'Series', '_merge'],
      dtype='object')

In [42]:
concat_ST_final.head(30)

,Episode,Character,Lines,Linecount,Season,Year,Title,Gender,Spezies,Frequency of appearance,Role,Admirality?,Series,_merge
0,tos_000,SPOCK,"['Check the circuit.', ""It can't be the screen...",27,tos_s1,1966,The Cage,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
1,tos_001,SPOCK,"['Miss Uhura, your last sub-space log containe...",46,tos_s1,1966,The Man Trap,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
2,tos_002,SPOCK,['That is a very intriguing question. Scanners...,33,tos_s1,1966,Charlie X,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
3,tos_003,SPOCK,"['Your move, Captain.', ""I'll have you checkma...",40,tos_s1,1966,Where No Man Has Gone Before,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
4,tos_004,SPOCK,"['Check out the life-support systems.', 'Someo...",80,tos_s1,1966,The Naked Time,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
5,tos_005,SPOCK,"['Mister Spock.', 'Is there something I can do...",50,tos_s1,1966,The Enemy Within,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
6,tos_006,SPOCK,"[""Difficult to say, Captain. We're getting no ...",35,tos_s1,1966,Mudd's Women,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
7,tos_007,SPOCK,"[""Ship's record banks show little we don't alr...",20,tos_s1,1966,What Are Little Girls Made Of?,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
8,tos_008,SPOCK,"['Not a vessel, a ground source. The third pla...",51,tos_s1,1966,Miri,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
9,tos_009,SPOCK,"['I have them, Captain. Closing off deck fourt...",45,tos_s1,1966,Dagger of the Mind,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
10,tos_010,SPOCK,['One degree to overlap. Stand by to\r photogr...,66,tos_s1,1966,The Corbomite Maneuver,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
11,tos_011,SPOCK,"['Eleven years, four months, five days.', ""Cap...",49,tos_s1,1966,"The Menagerie, Part I",m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
12,tos_012,SPOCK,"['Guilty.', 'Guilty.', 'Guilty.', 'Are coming ...",30,tos_s1,1966,"The Menagerie, Part II",m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
13,tos_013,SPOCK,"['A good empirical research scientist. Steady,...",43,tos_s1,1966,The Conscience of the King,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
14,tos_014,SPOCK,"[""Still no answer from Earth Outpost number tw...",54,tos_s1,1966,Balance of Terror,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
15,tos_015,SPOCK,['They should be sending up a report momentari...,37,tos_s1,1966,Shore Leave,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
16,tos_016,SPOCK,['Power up. All instruments activated. All rea...,132,tos_s1,1966,The Galileo Seven,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
17,tos_017,SPOCK,"['Gravimetric readings, no significant change,...",50,tos_s1,1967,The Squire of Gothos,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
18,tos_018,SPOCK,"[""Captain. I wonder why he's insistent that ou...",59,tos_s1,1967,Arena,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
19,tos_019,SPOCK,"[""Except for secondary systems, everything is ...",73,tos_s1,1967,Tomorrow is Yesterday,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
20,tos_020,SPOCK,"['Captain, I believe I', 'Miss Finney, come wi...",46,tos_s1,1967,Court Martial,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
21,tos_021,SPOCK,"[""Odd. The expression on that man's face. The ...",60,tos_s1,1967,The Return of the Archons,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
22,tos_022,SPOCK,"['Definitely a space vessel of some type.', 'U...",46,tos_s1,1967,Space Seed,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
23,tos_023,SPOCK,"['In view of code seven-ten, Captain, may I su...",44,tos_s1,1967,A Taste of Armageddon,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
24,tos_024,SPOCK,"[""Absolutely none, Captain. Berthold rays are ...",72,tos_s1,1967,This Side of Paradise,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
25,tos_025,SPOCK,"[""I'm sure there is an answer. It simply has n...",98,tos_s1,1967,The Devil in the Dark,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
26,tos_026,SPOCK,"[""Captain, we've reached the designated\r posi...",58,tos_s1,1967,Errand of Mercy,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
27,tos_027,SPOCK,"['Very typical, Captain. Iron-silicon base, ox...",59,tos_s1,1967,The Alternative Factor,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
28,tos_028,SPOCK,"[""I believe we'll have them plotted in a few m...",74,tos_s1,1967,The City on the Edge of Forever,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN
29,tos_029,SPOCK,"['As I speculated, Captain, the overall patter...",61,tos_s1,1967,Operation -- Annihilate!,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS),NaN

In [43]:
#drop column
df_final= concat_ST_final.drop(columns = ['_merge'])

In [44]:
df_final = df_final.drop(columns = ['Lines'])

In [45]:
df_final.head()

,Episode,Character,Linecount,Season,Year,Title,Gender,Spezies,Frequency of appearance,Role,Admirality?,Series
0,tos_000,SPOCK,27,tos_s1,1966,The Cage,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS)
1,tos_001,SPOCK,46,tos_s1,1966,The Man Trap,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS)
2,tos_002,SPOCK,33,tos_s1,1966,Charlie X,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS)
3,tos_003,SPOCK,40,tos_s1,1966,Where No Man Has Gone Before,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS)
4,tos_004,SPOCK,80,tos_s1,1966,The Naked Time,m,Vulcan/Human,Maincast,Crew,No,The Original Series (TOS)

### Saving new dataset

In [46]:
# exporting Star trek final data
df_final.to_csv(os.path.join(path,'StarTrek_complete.csv'))